<%include ../../inc_.common.view/header.tmpl%>

<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id='article'>
   <tr> 
   			<td width="40" id='newsheader' nowrap = 'nowrap'></td>
          <td id='newsheader'><h3>Результаты поиска</h3></td>
        </tr>
        
  <tr> <td width="40" id='newsheader' nowrap = 'nowrap'></td>
      <td width="650" align="justify" class='news'> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="20%" id='searchrez'><a href='#'>Прага</a></td>
          <td width="10%" id='searchrez'>1+1</td>
          <td width="10%" id='searchrez'>45 кв.м.</td>
          <td width="20%" id='searchrez'>300000 крон</td>
          <td id='searchrez'><a href='#'>фото</a>, <a href='#'>фото</a>, <a href='#'>фото</a></td>
        </tr>
      
      </table></td>
    <td></td>
		
  </tr>
</table>

<%include ../../inc_.common.view/footer.tmpl%>