<%include ../../inc_.common.view/header.tmpl%>

<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id='article'>
   <tr> 
   			<td width="40" id='newsheader' nowrap = 'nowrap'></td>
          <td id='newsheader'><h3>Запись не существует</h3></td>
        </tr>
        
  
</table>

<%include ../../inc_.common.view/footer.tmpl%>