.menu1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; color: #000000; font-weight: bold; text-decoration: none}
a:link {  text-decoration: none}
