
<br><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10" id="menu2">&nbsp;</td>
  </tr>
  <tr>
    <td ><div align="center" class="copy"> 

         Powered by NextFramework. <br>&copy; KESSO LTD 2004-2005.
      </div></td>
  </tr>
</table>
