.menu1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; color: #000000; font-weight: bold;}
.date {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; color: #CCCCCC; text-decoration: underline; vertical-align: top; clip:  rect(   )}
.text {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; line-height: normal; color: #000000; text-decoration: none}
a:active {  text-decoration: none}
a:visited {  text-decoration: none}
a:link {  text-decoration: none}
.text2 {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; color: #000000; text-decoration: none}
a:hover {  text-decoration: underline}
.title {  font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-style: normal; line-height: normal; text-decoration: none}
.title2 { font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-style: normal; line-height: normal; text-decoration: none ; font-weight: bold}
