Возможные действия:
<br>
<ul>
<li><a href="<%echo HostName%>/busservice/partners_page/<%echohtml Lang%>/?sid=<%echohtml Sid%>">Главная</a>
<li><a href="<%echo HostName%>/busservice/ptickets/<%echohtml Lang%>/?sid=<%echohtml Sid%>">Просмотр забронированных билетов</a>
<li><a href="<%echo HostName%>/busservice/dclients/<%echohtml Lang%>/?sid=<%echohtml Sid%>">Клиенты</a>
<li><a href="<%echo HostName%>/busservice/partners_page/<%echohtml Lang%>/?sid=<%echohtml Sid%>&action=logout">Выйти из системы</a>
</ul>

