Возможные действия:
<br>
<ul>
<li><a href="<%echo HostName%>/busservice/client_page/<%echohtml Lang%>/?sid=<%echohtml Sid%>">Главная</a>
<li><a href="<%echo HostName%>/busservice/client_tickets/<%echohtml Lang%>/?sid=<%echohtml Sid%>">Просмотр забронированных билетов</a>

<li><a href="<%echo HostName%>/busservice/client_page/<%echohtml Lang%>/?sid=<%echohtml Sid%>&action=logout">Выйти из системы</a>
</ul>

