<%include ../../../include/frontend/common/dheader.tmpl%>
<%include menu.tmpl%>
<br>

Автобус  
<UL>
<li>ID<%echo bus_id%>
<li>Наименование: <%echo bus_route_title%>
<li>День отправления: <%echo bus_day_depar%>
<li>Время отправления: <%echo bus_time_depar%>
<li>День прибытия: <%echo bus_day_arrival %>
<li>Время прибытия: <%echo bus_time_arrival %>

</UL>

Билет, место №<%echo ticketplace%>

<form action="<%echo HostName%>/busservice/reserveticket/<%echo ticketplace%>_<%echo global:bus_id%>/<%echohtml Lang%>/?sid=<%echohtml Sid%>" method="post" enctype="application/x-www-form-urlencoded" name="addpartner">
   
    
   <select name='client_id' style="width: 200px">
<option value='0'>Клиент</option>
<%loop clients%>
<option value="<%echo client_id%>"><%echo client_name%></option>
<%endloop%>
</select>
<br>
<br>

<ul>
<%if intervals%>
<%loop intervals%>


<li><b><%echo departure_point_latin_name%> - <%echo arrival_point_ru_name%></b>

	<ul>
		<%loop currs%>
		<li><input type="radio" name="currency_id" value="<%echo currency_id%>_<%echo parent:interval_id%>" />    <%echo price_value%> <%echo currency_name%>   </li>
		<%endloop%>

	</ul>
<%endloop%>

</ul>

    
      
<input name="submit" type="submit" value="Готово" />
<%endif%>   
<input type="hidden" name="post" value="1">
</form>


<%include ../../../include/frontend/common/dfooter.tmpl%>
