<%include ../inc_admin.common.view/header.tmpl%>
<%include realty_menu.tmpl%>
<br><br>


<%if ErrorMessage%>Error: <%echohtml ErrorMessage%><%endif%>
Reality Record Added!


<br><br>
<%include ../inc_admin.common.view/footer.tmpl%>