<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
   
	<%if article_id%><td id='menu3'><a href="<%echohtml HostName%>/admin/<%echohtml CatName%>/<%echohtml Lang%>/index.html?sid=<%echohtml Sid%>&action=edit_article&article_id=<%echohtml article_id%>" class='menu'> Редактировать запись</a></td>	<%endif%>

	<td class="menu" id='menu4'>&nbsp;</td>
  </tr>
</table>

<br>
