<%include ../../../include/backend/common/header.tmpl%>
<!%include index_menu.tmpl%>
<br><br>

<div align='center'>Welcome to Content Module!!</div>
<br><br>


<%include ../../../include/backend/common/footer.tmpl%>