<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html>

<head>
<title><%site_title%>: Email Updates</title>
<link rel=stylesheet href="<%css%>" type="text/css" title="style sheet">
</head>

<body>

<h1><%site_title%>: Email Updates</h1>
    
<p><small class="menu">|
    <a class="menulink" href="<%build_root_url%>">Home</a> |
    <a class="menulink" href="<%db_cgi_url%>/add.cgi">Add a Resource</a> |
    <a class="menulink" href="<%db_cgi_url%>/modify.cgi">Modify a Resource</a> |
    <a class="menulink" href="<%build_root_url%>/New">What's New</a> |
    <a class="menulink" href="<%build_root_url%>/Cool">What's Cool</a> |
    <a class="menulink" href="<%build_root_url%>/Ratings">Top Rated</a> |
    <a class="menulink" href="<%db_cgi_url%>/subscribe.cgi">Email Updates</a> | 
    <a class="menulink" href="<%db_cgi_url%>/jump.cgi?ID=random">Random Link</a> |
    <a class="menulink" href="<%db_cgi_url%>/search.cgi">Search</a> |
</small></p>
    
    <form action="<%db_cgi_url%>/subscribe.cgi" method="POST">
        <div class="margin">        

<%if message%>
    <p><strong class="error"><%message%></strong></p>
<%endif%>
            <p>Keep informed of new additions to <%site_title%>, by subscribing to our low-volume
               newsletter that will deliver new listings straight to your inbox!</p>
            <p><select name="action"><option value="subscribe">Subscribe<option value="unsubscribe">Unsubscribe</select> to the list<br>
                Name: <input name="name" size=15> Email: <input name="email" size=15> <input type="submit" value="Subscribe">
            </p>
        </div>
    </form>

    <form action="<%db_cgi_url%>/search.cgi" method="GET">
        <h2>Search</h2>
            <div class="margin">
                <table border="0" cellspacing="0" cellpadding="0">
                <tr><td><strong class="search">Looking for something in particular?</strong></td></tr>
                <tr><td><input type="text" size=15 name="query"> <input type=submit value="Search!"></td></tr>
                <tr><td><small class="more"><a href="<%db_cgi_url%>/search.cgi">More search options</a></small></td></tr>
                </table>
        </div>
    </form> 
    
        <p><small class="update">Pages Updated On: <%date%> - <%time%><br>
        Links Engine Powered By: <a href="http://www.gossamer-threads.com/">Gossamer Threads Inc.</a></small></p>       

</body>
</html>
    