<html>
<head>
<title>E-BASE</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<style type="text/css">
<!--
.menu {  font-family: "Courier New", Courier, mono; font-size: 14px; font-style: normal; color: #333333; text-decoration: none}
a:link {  font-style: normal; line-height: normal; text-decoration: none}
a:hover {  text-decoration: underline}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; text-decoration: none}

-->
</style>
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table width="100%" border="0">
  <tr> 
    <td width="25%"> 
      <div align="center" class="menu">view stats</div>
    </td>
    <td width="25%"> 
      <div align="center" ><a href="admin.php?show=logs" class="menu">view logs</a></div>
    </td>
    <td width="25%"> 
      <div align="center" class="menu">change settings</div>
    </td>
    <td width="25%">
      <div align="center" class="menu">exit</div>
    </td>
  </tr>
</table>
<div align="center"> 
  <p>&nbsp;</p>
  <h3><u>Текущая статистика.</u> </h3>
  <p>Остатки по счетам.<br>
  </p>
  <table width="300" border="1" cellspacing="0" cellpadding="0">
    <tr bgcolor="#CCCCFF"> 
      <td width="50%"> 
        <div align="center" class="text">валюта</div>
      </td>
      <td width="50%" bgcolor="#CCCCFF"> 
        <div align="center" class="text">остаток</div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center">wmz </div>
             </td>
      <td>
        <div align="center">400</div>
      </td>
    </tr>
  </table>
  <p>Текущие курсы. </p>
  <table width="300" border="1" cellpadding="0" cellspacing="0">
    <tr> 
      <td class="text" bgcolor="#CCCCFF" width="70%"> 
        <div align="center">валюты</div>
      </td>
      <td bgcolor="#CCCCFF"> 
        <div align="center">курс</div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center">wmz---&gt;wmr</div>
      </td>
      <td>
        <div align="center">3.2</div>
      </td>
    </tr>
  </table>
  <p>Текущие транзакции.</p>
  <table width="300" border="1" cellpadding="0" cellspacing="0">
    <tr>
      <td width="85%"> 
        <div align="left" class="text">кол-во созданных транзакций</div>
      </td>
      <td>
        <div align="center">5</div>
      </td>
    </tr>
    <tr>
      <td class="text"> 
        <div align="left">кол-во активных транзакций</div>
      </td>
      <td>
        <div align="center">4</div>
      </td>
    </tr>
    <tr>
      <td class="text">кол-во пассивных транзакций</td>
      <td>
        <div align="center">5</div>
      </td>
    </tr>
    <tr bgcolor="#CCCCCC"> 
      <td class="text">всего транзакций</td>
      <td>
        <div align="center">14</div>
      </td>
    </tr>
    <tr>
      <td class="text">кол-во активных сессий</td>
      <td>
        <div align="center">45</div>
      </td>
    </tr>
  </table>
  <h3><u>Финансовая статистика.</u></h3>
  <h3>&nbsp;</h3>
  <p>&nbsp;</p>
</div>
</body>
</html>
