 <table width="868" border="0" cellspacing="0" cellpadding="0">

 <tr> 
    <td height="50" colspan="2" valign="top"><hr color="#4F7DB1">
      <table width="867" height="30" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr> 
          <td width="150" height="20"><div align="center"><a class="menu2" href="<%echo global:HostName%>/main/<%echo global:Lang%>/">На 
              главную</a></div></td>
          <td width="3"><img src="<%echo HostName%>/img/menu_line2.gif" /></td>
          <td  class="menu2"><div align="center"><a href="<%echo global:HostName%>/schedule/<%echo global:Lang%>/" class="menu2">Расписание 
              движения автобусов</a></div></td>
          <td  width="3"><img src="<%echo HostName%>/img/menu_line2.gif" /></td>
          <td  ><div align="center"><a href="<%echo global:HostName%>/content/article/38/<%echo global:Lang%>/" class="menu2">Бронирование 
              билетов</a></div></td>
          <td  width="3"><img src="<%echo HostName%>/img/menu_line2.gif" /></td>
          <td width="150" ><div align="center"><a href="<%echo global:HostName%>/content/article/34/<%echo global:Lang%>/" class="menu2">Сотрудничество</a></div></td>
          <td  width="3"><img src="<%echo HostName%>/img/menu_line2.gif" /></td>
          <td width="150" ><div align="center"><a href="<%echo global:HostName%>/content/article/35/<%echo global:Lang%>/" class="menu2">Контакты</a></div></td>
		   <td  width="3"><img src="<%echo HostName%>/img/menu_line2.gif" /></td>
           <td width="120" ><div align="center"><a href="<%echo HostName%>/register/<%echo global:Lang%>/" class="menu2">Регистрация</a></div></td>
        </tr>
      </table>
      <br></td>
  </tr>
</table>

</body>
</html>
