<%include ../../../include/backend/common/header.tmpl%>
<%if Errors%>
Errors:<br>
<%loop Errors%>
<%echo loop:key+1%>) <%echo msg%><br>
<%endloop%>
<%endif%>
<form action="<%echo HostName%>/admin/busservice/add_station_t/<%echo days_id%>/<%echohtml Lang%>/?sid=<%echohtml Sid%>" method="post" enctype="application/x-www-form-urlencoded" name="addstations">

  <table width="750" border="0" cellspacing="0" cellpadding="0">
   
    <%loop Stations%>
    <input type="hidden" name = "st<%echo loop:key%>_days_id" value="<%echo global:days_id%>">
    <input type="hidden" name = "st<%echo loop:key%>_station_id" value="<%echo station_id%>">
    <tr id='realty'> 
      <td colspan="2" style='background-color: #CCCCCC'>
      
 			<%echo point_latin_name%> / <%echo point_ru_name%>
      
    </tr>
    
    <tr id='realty'> 
      <td width="200">Время прибытия (формат: 22:30) </td>
      <td> <input name="st<%echo loop:key%>_time_arr" type="text" size="5" maxlength="5" /><br><br><br></td>
    </tr>
    <tr id='realty'> 
      <td width="200">Время отправления (формат: 22:30) </td>
      <td> <input name="st<%echo loop:key%>_time_dep" type="text" size="5" maxlength="5" /><br><br><br></td>
    </tr>
    </tr>
    
   
    
    <%endloop%>
    
    <tr id='realty'> 
      <td></td>
      <td align="right"><input name="submit" type="submit" value="Готово" /></td>
    </tr></td></tr>
  
  </table>
  <input type="hidden" name="post" value="1">
   
</form>



<%include ../../../include/backend/common/footer.tmpl%>