<%include ../../../include/backend/common/header.tmpl%>
<br>
Инструкция по использованию модуля BusService:
<br>
Краткий порядок действия в системе:
<ol>
<li> Добавляется владельцев автобусов в разделе <strong>"владельцы автобусов"</strong>
<li> Добавляется тип автобуса в разделе <strong>"Типы автобусов"</strong> (например Ikarus =) ).
<li> Добавляются возможные пункты (города) в разделе <strong>Пункты</strong>.
<li> Переходим в разделы <strong>маршруты</strong> и делаем "добавить маршрут" из 
некоторого количества выездов (дополнительные выезды можно будет добавить к маршруту)<br>
Выезд означает, что некий тип автобуса в какой-то день (например в понельник) <br>
ходит в некое время (например в 19-00). 
<br><font color="red">ВНИМАНИЕ!</font> Диапазон мест должен соответствовать кол-ву мест , 
указанному в типе автобуса, <br>т.е. если в типе автобуса указано 20 мест, а вы пытаетесь добавить места с 50-по 90, система такой выезд не добавит<br>
<li>После того как, маршрут добавлен, он появляется в разделе маршруты. <br>
Для просмотра маршрута есть кнопка <strong>"редактировать"</strong>. 
<li>Внутри маршрута есть возможность добавлять новые выезды и остановки для этого маршрута.
<li> Остановки включают себя  <font color="red">НАЧАЛЬНЫЙ И КОНЕЧНЫЙ</font> пункты. Время в дороге - это время <br>
между остановками. Это позволяет вычислять время прибытия на каждую остановку для разного времени отправления.
<br>
<li>После того как маршрут создан, выезды и остановки добавлены, его можно активизировать (в разделе маршруты), <br>
для того, чтобы дилеры и юзеры могли видеть этот маршрут и бронировать на него билеты. 
<br>Администратор может создавать автобусы и бронировать билеты и у неактивированных маршрутов.
<li>Переходим в раздел <strong>"Автобусы"</strong>. Для того чтобы забронивать билет на какой-то автобус его<br>
его нужно либо создать либо он уже должен быть. У юзеров и дилеров все действия с автобусом происходят автоматически.
<br>
<li> Нажимаем <strong>добавить автобус</strong>, появляется форма для добаляения автобуса.
<br>В ней есть все даты, полученные из выездов , до 31.12.05. Эту дату можно сделать любой.
<li> После того, как вы создали автобус, он появляется в разделе <strong>"Автобусы"</strong>.
<li> Нажимаете на него, и видете св-ва автобуса и билеты, с которыми можно выполнять операции.
<br> not_created - билет не создан (пусто)
<br> Если билет забронирован, то видно кем он забронирован и его статус. 
<li> Нажимайте на билет. Вы видите атрибуты билеты. Можно подтвертить/отмеить оплату, одобрить , удалить билет.
<br> Если дилер забронировал билет, то он сразу одобренный, если юзер - то нет.
<li> Далее - с





</ol>
<%include ../../../include/backend/common/footer.tmpl%>