<%include ../inc_admin.common.view/header.tmpl%>
<%include ../index_admin.common.view/index_menu.tmpl%>
<%if ErrorMessage%><%echohtml ErrorMessage%><%endif%>
<br>

<br><br>
<%include ../inc_admin.common.view/footer.tmpl%>