<%include ../../../include/backend/common/header.tmpl%>
<!%include index_menu.tmpl%>
<br><br>

<div align='center'>Welcome to KESSO CMS!</div>
<br><br>


<%include ../../../include/backend/common/footer.tmpl%>