body {
	margin: 0px;
	padding: 0px;
	color : #2f2f2f;
	background-color : #fff;
	font-family:Tahoma;
	font-size:12px;
}

#wrapper {
        border: 0px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
		  width:1024px;
}

#header {
	width: 1024px;
	height: 93px;
	background-image: url(../../images/logo_bg.png);
	background-repeat: no-repeat;
}

#signup {
	font-size: 10px;
	color: #d62925;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-image: url(../../images/signup_bg.png);
	background-repeat: no-repeat;
	width: 1024px;
	height: 29px;
	text-align: right;
	padding-right: 20px;
}

.input {
	font-size: 10px;
	color: #050505;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-left: 1px solid #b5b5b5;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	width: 65px;
	padding-left: 5px; 
}

.sign{
	background-image: url(../../images/signup.gif);
	border: 0;
	width: 26px;
	height: 14px;
}

#logo
{
     text-align:left;
     margin-left: 83px;
     margin-top: -5px;
}

#navigation_menu {
	background-image: url(../../images/menu_bg.png);
	background-repeat: no-repeat;
	margin-top: -5px;
	padding-top: 3px;
	width: 1024px;
	height: 35px;
	padding-top: 13px;
}

#navigation_menu div
{
     float:right;
}

#menu1
{
	padding-right:26px;
}

#menu2
{
	padding-right:29px;
}

#menu3
{
	padding-right:23px;
	margin-top: -2px;
}

#menu4
{
	padding-right:30px;
}	

#menu5
{
	padding-right:25px;
	margin-top: -2px;
}

#menu6
{
	padding-right:82px;
}	

#left_menu
{
	float:left;
	width:335px;
	background:url(../../images/left_menu/back.jpg) no-repeat top;
	text-align:left;
	margin-top: 10px;
}

#kredit{
	float: right;
	margin-bottom: 20px;
	cursor: pointer;
}

#depozit{
	float: right;
	cursor: pointer;
	padding-right: 23px;
}

#left_menu1{
	margin-left: 95px;
	margin-top: 10px;
}

#contacts{
	margin-top: 50px;
	margin-left: 95px;
	background-image: url(../images/contacts.jpg);
	background-repeat: no-repeat;
	height: 164px;
	width: 214px;
}

#phone{
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #003663;
	font-weight: bold;
	padding-top: 50px;
	padding-left: 90px;
}

#mail{
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #003663;
	font-weight: bold;
	margin-top: 12px;
	margin-left: 10px;
}

#main_content
{
	margin-top:10px;
	width:620px;
	float:left;
	background-image: url(../images/main_bg.gif);
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 30px;
}

h1{
	font-family:Tahoma,Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#121212;
	font-weight:bold;
	margin-top: 10px;
}

#anons{
	background-image: url(../images/anons_bg.gif);
	background-repeat: no-repeat;
	width: 582px;
}

#anons1{
	padding-top: 50px;
	width: 155px;
	float: left;
	padding-left: 35px;
	color: #3d3d3d;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.title_anons{
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #284376;
	font-weight: bold;
}
#bottom{
	background-image: url(../images/bottom_bg.gif);
	background-repeat: no-repeat;
	width: 1024px;
	height: 100px;
	text-align: left;
	margin-top: 50px;
	padding-left: 20px;
	padding-top: 7px;
	color: #ffffff;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	clear: both;
}



#meshki{
	float: right;
	margin-top: -53px;
	padding-left: 480px;
	position: absolute;
}

a:link{
	color: #1b3d64;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a:hover{
	color: #1b3d64;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a:visited{
	color: #1b3d64;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

a:active{
	color: #1b3d64;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}